// Fonts
$sans-serif: 'Lato', Helvetica, sans-serif;
$serif: 'Merriweather', Times New Roman, serif;
$icons: 'Genericons';

// Colors
$white: #fcfcfc;
$light-gray: darken($white, 10%);
$mid-gray: #888888;
$dark-gray: darken($mid-gray, 10%);
$blue: #27a9e1;
$dark-blue: darken($blue, 30%);
$orange: #FD9638;
$yellow: #f1c40f;

