// ==========================================================================
// Hamburger Menu
// 
// Almost entirely based on Tim Pietrusky's Off Canvas menu:
// http://codepen.io/TimPietrusky/pen/CLIsl
//
// Refer to hamburger.html for setup
// ==========================================================================

html,
.hamburger {
    width: 100%;
    // height: 100%; was breaking scroll momentum and messed up IE
    // overflow-x: hidden;
}

.condiments {
    width: 100%;
    overflow-x: hidden;
    float: left;
    @include transition(margin .3s ease-in-out);
}

// Advanced Checkbox Hack 
.hamburger {
    // position: relative;
    -webkit-animation: bugfix infinite 1s;
}
@-webkit-keyframes bugfix {
    from {padding: 0;} to {padding: 0;}
}
.hamburger-checkbox {
    position: absolute;
    top: -9999px;
    left: -9999px;
}

.hamburger-label {
    display: none;
    position: fixed;
    right: 0;
    top: 0;
    padding: .35em;
    width: 58px;
    height: 53px;
    font-size: .75em; // 15/20
    font-family: Arial, sans-serif;
    line-height: .75em; // 15/20
    color: #c6c8cc;
    cursor: pointer;
    user-select: none;
    @include transition(color .3s ease-in-out);
    @include box-shadow(-2px 0 0 -1px #232d43, -4px 0 0 -2px #02040a);
}

// big screens
.hamburger-nav {
    position: relative;
    @include transition(left .3s ease-in-out);

    a {
        @include transition(color .3s ease-in-out);
    }
}

// small screens
@media screen and (max-width: 560px) { // was 480
    $menu_width: 320px;
    $content_offset : 8px;

    html,
    .hamburger,
    .hamburger .page-header { //remove .hamburger and move to main.scss
        margin: 0;
        overflow-x: hidden;
    }
    .hamburger-nav {
        position: fixed;
        overflow-y: scroll;
        top: 54px;
        bottom: 0;
        left:-$menu_width;
        width: $menu_width;
        opacity: 0;
        background: #3f5a9a;

        ul {
            width: 100%;

            > li {
                width: 100%;

                a {
                    padding: .8em 3.625em .8em 1.5em;
                    color: #fff;
                    text-shadow: 0 -1px 1px rgba(0,0,0,.5);
                    background: #3f5a9a;
                    @include box-shadow(inset 0 -2px 0 -1px #2d4785, inset 0 2px 0 -1px #486099);

                    &:after {
                        position: absolute;
                        right: .7em;
                        @include border-radius(11px);
                        content:"\203A";
                        font-size: 22px;
                        line-height: 15px;
                        color: inherit;
                    }
                }
            }
        }
        > ul {
            display: block;

            > li {
                &:first-child a {
                    @include box-shadow(0 -2px 0 -1px rgba(0, 0, 0, 1), inset 0 -2px 0 -1px rgba(0, 0, 0, 1), inset 0 2px 0 -1px rgba(255, 255, 255, 0.05));
                }
            }
        }
        li {
            &:hover {
                background: transparent;
            }

            > ul {
                position: static;
                display: block;
                width: $menu_width;
                background: transparent;
            }
        }
        .nav-main  {
            a {
                &:hover {
                    color: #fff;
                }
            }
        }
    }

    .hamburger .hamburger-label {
        display: block;
        z-index: 1000;
        @include transition(left .3s ease-in-out, box-shadow 0s 0s ease-in-out);
    }

    .hamburger .hamburger-label:after {
        position: absolute;
        top: 21px;
        right: 19px;
        content:"\2261";
        font-size: 37px;
    }

    .hamburger-label:hover {
        color: #fff;
    }
    .hamburger-checkbox:checked ~ .hamburger-label {
        background: rgba(255,255,255,.05);
        @include transition(left .3s ease-in-out, box-shadow .2s .3s ease-in-out);
    }

    .hamburger-checkbox:checked ~ .page-header .hamburger-nav {
        left: 0;
        opacity: 1;
        @include box-shadow(0 2px 0 -1px rgba(255, 255, 255, .01), 1px 0px 0 #2d4785);
    }

    .hamburger-checkbox:checked ~ .condiments {
        margin-left: $menu_width + $content_offset;
        margin-right:-($menu_width + $content_offset);
    }

    .masthead {
        position: fixed;
        left: 0;
        right: 0;
        z-index: 999;
        @include box-shadow(0 1px 0 rgba(0,0,0,1),0 0 8px rgba(0,0,0,.6));
    }
    .nav-box .nav-main {
        @include box-shadow(none);
    }
}